## Developed by: Davin Studer
## Date created: 12/4/2014
##
## Updated by: Milo Grika
## Added: show/hide title, link/unlink title.
##
## Updated by: Gregor Mirai
## Date updated: 26/1/2016
## Added: page separator, PDF split page marker options, filtering on labels.
##
## Updated by: Gregor Mirai
## Date updated: 26/3/2016
## Added: parent page selector, the possibility to limit the number of pages included.
##
## Updated by: Ronald van Rij
## Date updated: 29/4/2016
## Added: allow setting the html element to use for page titles
##
## Updated by: Joel Pearson
## Date updated: 23/2/2021
## Fixed: render HTML properly in Confluence 7.11+
##

## @param ParentPage:title=Parent Page Title|type=confluence-content|desc=Include children of a specific parent page. If no page is defined, current page will be selected.
## @param ShowTitle:title=Show Title|type=boolean|desc=Deselect to remove the title of the child page.|default=true
## @param LinkTitle:title=Link Title|type=boolean|desc=Select to turn the titles of the child pages into links to those pages (Show Title must be selected).|default=false
## @param PageSeparator:title=Page Separator|type=boolean|desc=Separate pages with horizontal ruler.|default=false
## @param SplitPages:title=Split Pages|type=boolean|desc=Split pages marker for PDF export will be inserted. Page separator will not be shown when exporting.|default=false
## @param FilterLabel:title=Filter on Page Label|type=string|desc=Include only subpages with the specified label.
## @param Order:title=Order|type=enum|enumValues=Nav Order,Reverse Nav Order,Alphabetical,Reverse Alphabetical,Create Date,Reverse Create Date|default=nav order|desc=In what order should the child pages be displayed? Nav Order refers to the order of the child pages in the page tree. Reverse Nav Order simply reverses that.
## @param Limit:title=Limit|type=int|default=|desc=The number of pages to include. If number is not specified all pages will be included.
## @param HeadingElement:title=HeadingElement|type=string|default=h1|desc=The HTML element to be used for the page titles, defaults to H1

#set( $containerManagerClass=$content.class.forName('com.atlassian.spring.container.ContainerManager') )
#set( $getInstanceMethod=$containerManagerClass.getDeclaredMethod('getInstance',null) )
#set( $containerManager=$getInstanceMethod.invoke(null,null) )
#set( $containerContext=$containerManager.containerContext )
#set( $pageManager=$containerContext.getComponent('pageManager') )
#set( $Integer = 0 )

## Get page title and space key from the parent page parameter
#set( $currentSpaceKey = $space.getKey() )

#set( $pageColonPos = $paramParentPage.indexOf(":", 0) )
#if( $pageColonPos >= 0 )
    #set( $currentSpaceKey = $paramParentPage.substring(0, $pageColonPos) )
    #set( $pageColonPos = $pageColonPos + 1 )
    #set( $paramParentPage = $paramParentPage.substring($pageColonPos) )
#end

#set( $currentPage = $pageManager.getPage($content.id) )
#if( $paramParentPage )
    #set( $currentPage = $pageManager.getPage($currentSpaceKey, $paramParentPage) )
#end

## Find the array of (sorted) child pages.
#set( $dataHtml = "" )
#if( $paramOrder == "Nav Order" || $paramOrder == "Reverse Nav Order" )
    #set( $children =  $currentPage.getSortedChildren() )
#elseif( $paramOrder == "Alphabetical" || $paramOrder == "Reverse Alphabetical" )
    #set( $array =  $currentPage.getChildren() )

    #################
    ## Bubble sort ##
    #################

    #set( $size = $array.size() )
    #foreach( $junk in $array )
        #set( $count = -1 )
        #foreach( $line in $array )
            #set( $count = $count + 1 )
            #if( $velocityCount < $size )
                #if( $line.getTitle().compareToIgnoreCase($array.get($velocityCount).getTitle()) > 0 )
                    #set( $tmp = $array.get($velocityCount) )
                    #set( $junk = $array.set($velocityCount, $line) )
                    #set( $junk = $array.set($count, $tmp) )
                #end
            #end
        #end
    #end

    #set( $children = $array )
#elseif( $paramOrder == "Create Date" || $paramOrder == "Reverse Create Date" )
    #set( $children =  $currentPage.getChildren() )
#end

## Prepare children data. 
#set( $count = -1 )
#set( $skipped = 0 )
#set( $size = $children.size() )
#foreach( $child in $children )

    ## Check if current user can view the child page.
    #if($permissionHelper.canViewPage($action.getAuthenticatedUser(), $child.id))
        ## Create the map of labels for the page.
        #set( $labelsMap = {} )
        #foreach( $label in $child.getLabels() )
            #set( $_ = $labelsMap.put($label.toString(), 1) )
        #end

        ## Define sorting order.
        #set( $inOrder = false )
        #if( $paramOrder == "Nav Order" || $paramOrder == "Alphabetical" || $paramOrder == "Create Date" )
            #set( $inOrder = true )
        #end

        ## Include all pages (when no filter label is specified) or pages with a specific label.
        #if( ($paramFilterLabel && !$labelsMap.containsKey($paramFilterLabel)) ||
             ($inOrder && $paramLimit != "" && $count+1 >= $Integer.parseInt($paramLimit)) ||
             (!$inOrder && $paramLimit != "" && $skipped < $size - $Integer.parseInt($paramLimit) ))
            #set( $skipped = $skipped + 1)
        #else
            #set( $count = $count + 1 )
            #set( $include = "" )
            #set( $include = $include + '<div class="included-child-page">' )

            ## Show title and links.
            #if( $paramShowTitle == true )
                #if( $paramLinkTitle == true )
                    #set( $include = $include + '<'+$paramHeadingElement+' class="included-child-page-title"><a href="' + $child.getUrlPath() + '">' + $child.getTitle() + '</a></'+$paramHeadingElement+'>' )
                #else
                    #set( $include = $include + '<'+$paramHeadingElement+' class="included-child-page-title">' + $child.getTitle() + '</'+$paramHeadingElement+'>' )
                #end
            #end

            ## Include sub page.
            #set( $include = $include + '<div class="included-child-page-body">' )
                #set( $include = $include + '<ac:structured-macro ac:name="include">' )
                    #set( $include = $include + '<ac:parameter ac:name="">' )
                        #set( $include = $include + '<ac:link>' )
                            #set( $include = $include + '<ri:page ri:content-title="' + $child.getTitle() + '" ri:space-key="' + $currentSpaceKey + '"/>' )
                        #set( $include = $include + '</ac:link>' )
                    #set( $include = $include + '</ac:parameter>' )
                #set( $include = $include + '</ac:structured-macro>' )
            #set( $include = $include + '</div>' )
            #set( $include = $include + '</div>' )

            ## Find out, whether we are in between pages or not.
            #set( $betweenPages = false )
            #if( $inOrder == true && $count < $size - $skipped - 1 )
                #set( $betweenPages = true )
            #elseif( $inOrder == false && $count > 0 && $count < $size - $skipped )
                #set( $betweenPages = true )
            #end

            ## Include page separator or include page split marker used for PDF exports.
            #if( $betweenPages == true )
                #if( $paramPageSeparator == true )
                    #set( $include = $include + '<hr class="noprint"/><br class="noprint"/>' )
                #end
                #if( $paramSplitPages == true )
                    #set( $include = $include + '<div style="page-break-before:always;"></div>' )
                #end
            #end

            ## Add page content in order or in reverse order.
            #if( $inOrder == true )
                #set( $dataHtml = $dataHtml + $include )
            #else
                #set( $dataHtml = $include + $dataHtml)
            #end
        #end
    #end
#end
 
$dataHtml

<style type="text/css">
    .included-child-page {
        margin-bottom: 30px;
        overflow: hidden;
    }
    @media print {
        .noprint { display: none; }
    }
</style>
